<deck-config>
    <reveal>
        <!-- path to reveal, must finish with a '/'.  must be absolute or relative to export save location. default is '<your freemind path>/resources/reveal.js/' -->
        <base-dir>reveal.js/</base-dir>
        <!-- one of 'default', 'beige', 'sky', 'night', 'serif', 'simple'. Moreover at https://github.com/hakimel/reveal.js#theming -->
        <theme>default</theme>
        <controls>true</controls>
        <progress>true</progress>
        <history>true</history>
        <center>true</center>
        <keyboard>true</keyboard>
        <touch>true</touch>
        <overview>true</overview>
        <mouseWheel>true</mouseWheel>
        <autoSlide>0</autoSlide>
        <rtl>false</rtl>
    </reveal>
    <text>
        <!-- author name (can be rich html)-->
        <author-html>Yours Respectfully</author-html>
        <!-- end slide title -->
        <end>The End</end>
        <!--end slide text -->
        <thanks>Thank You!</thanks>
        <!-- title for Table of Content -->
        <toc-title>Table of Content</toc-title>
        <!-- title for Index of Subsection (if applicable, ie if $subsectionLvl > 1) -->
        <cos-title>Content of Section</cos-title>
    </text>
</deck-config>